[submodule "misound"]
	path = misound
	url = https://github.com/SigiMcArcel/misound.git
[submodule "miutils"]
	path = miutils
	url = https://github.com/SigiMcArcel/miutils.git
[submodule "midriver"]
	path = midriver
	url = https://github.com/SigiMcArcel/midriver.git
[submodule "miio"]
	path = miio
	url = https://github.com/SigiMcArcel/miio.git
[submodule "miapplication"]
	path = miapplication
	url = https://github.com/SigiMcArcel/miapplication.git
[submodule "mimodules"]
	path = mimodules
	url = https://github.com/SigiMcArcel/mimodules.git
[submodule "micomponents"]
	path = micomponents
	url = https://github.com/SigiMcArcel/micomponents.git
